{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
{{!-- header --}}
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">EAT - DA - BURGER</h1>
    <h3 class="lead">Order a burger of your choice! And then DEVOUR IT!!</h3>
    <hr class="my-4">
  </div>
</div>
{{!-- middle section --}}
{{!-- container to push info into --}}
<div class="container">
  <div class="row">
  {{!-- ready column --}}
    <div class="ready-burger col">
      <h3><u>READY TO DEVOUR</u> <i class="fas fa-hamburger"></i></h3>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
          <h5>{{burger_name}} <button class="devourBtn btn btn-warning" data-id="{{id}}">Devour <i class="fas fa-hamburger"></i>!</button></h5>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
  {{!-- image of burger column --}}
    <div class="col text-center">
      <img src="https://media.giphy.com/media/JteZf56ZXsJl6/giphy.gif" height="200px" width="auto" alt="burger" />
    </div>
  {{!-- devoured burger cloumn --}}
    <div class="devoured-burger col">
      <h3><u>DEVOURED</u> <i class="far fa-smile-beam"></i></h3>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <h5><i class="fas fa-check-circle"></i> {{burger_name}}</h5>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{!-- footer --}}
{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
<div class="row">
  <div class="col-12 text-center">
    <h3>Order your burger here!</h3>
    <form class="create-form">
      <div class="input-group mb-3">
        <input id="burger-name" type="text" class="form-control" placeholder="What kinda burger you feelin'?" aria-label="burger_name" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="submitBtn btn btn-warning" type="submit" id="button-addon2">BURGER IT UP</button>
        </div>
      </div>
    </form>
  </div>
</div>
