{{!-- header --}}
<header>
  <div class="text-center">
    <span id="line">E A T - D A - B U R G E R</span>
  </div>
</header>
{{!-- middle section --}}
{{!-- container to push info into --}}
<div id="middle" class="container-fluid">
   <h3 class="text-center">Order a burger of your choice! And then DEVOUR IT!!</h3>
    {{!-- <div class="container"> --}}
    <div class="row">
      {{!-- ready column --}}
      <div class="col ready-burger rounded card">
        <h3><u>READY TO DEVOUR</u> <i class="fas fa-hamburger"></i></h3>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <h6><i class="fas fa-circle"></i> {{burger_name}} <button class="devourBtn btn btn-success"
              data-id="{{id}}">Devour <i class="fas fa-hamburger"></i>!</button></h6>
          {{/unless}}
          {{/each}}
        </ul>
      </div>
      {{!-- image of burger column --}}
      <div class="col text-center">
        <img src="https://media.giphy.com/media/l0K4lPx8bvdbFMdGM/giphy.gif" height="auto" width="50%" alt="burger"/>
      </div>
      {{!-- devoured burger cloumn --}}
      <div class="col devoured-burger rounded card">
        <h3><u>DEVOURED</u> <i class="far fa-smile-beam"></i></h3>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          <h6><i class="fas fa-check-circle"></i> {{burger_name}} <button class="unDevourBtn btn btn-danger"
              data-id="{{id}}">Undevour <i class="fas fa-hamburger"></i>!</button></h6>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

</div>
{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
<div id="textbox" class="row">
  <div class="col-12 text-center">
    Order your burger here!
    <form class="create-form">
      <div id="textFo" class="input-group mb-3 mt-4">
        <input id="burger-name" type="text" class="form-control" placeholder="What kinda burger you feelin'?"
          aria-label="burger_name" aria-describedby="button-addon2">
        <div class="input-group-append">
          <button class="submitBtn btn btn-warning" type="submit" id="button-addon2">BURGER IT UP</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
{{!-- footer --}}
<footer id="footer" class="fixed-bottom">
  <div>
    <h4 class="text-center">Copyright &copy; michjmend 2019</h4>
  </div>
</footer>
