{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="jumbotron">
  <h1 class="display-4">EAT-DA-BURGER</h1>
  <p class="lead">Order a burger of your choice!</p>
  <hr class="my-4">
  <p> <img src="https://media.giphy.com/media/JteZf56ZXsJl6/giphy.gif" alt="piooop" /> </p>
</div>

{{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
<button type="submit">Add Burger</button>
  {{!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> --}}
